@model IEnumerable<WebNotes.Data.Notification>
@{
    ViewBag.Title = "Все напоминания";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a asp-action="NotificationCreate" class="btn btn-outline-dark">Добавить новое напоминание</a>
<a asp-action="Index" class="btn btn-outline-dark">Назад</a>
<table class="table">
    <tr>
        <td>Напоминание</td>
        <td>Время</td>
        <td>Сделать через:</td>
        <td>Действия</td>
    </tr>
   @foreach (var item in Model)
    {
        <tr>
            <td>@item.Notification_text</td>
            <td>@item.Notification_data.ToString("dd/MM/yyyy HH:mm")</td>
                
            <td>
                @item.Notification_data.Subtract(DateTime.Now).Duration().Days Дней
                @item.Notification_data.Subtract(DateTime.Now).Duration().Hours часов
                @item.Notification_data.Subtract(DateTime.Now).Duration().Minutes минут
            </td>
            <td>
                <a asp-action="NotificationEdit" asp-controller="Home" asp-route-id="@item.Id">Изменить</a>
                <form asp-controller="Home" asp-action="NotificationDelete" asp-route-id="@item.Id" method="post">
                    <div class="form-group">
                        <input type="submit" class="btn btn-default" value="Удалить" />
                    </div>
                </form>
            </td>
        </tr>
    }
</table>